<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="container-fluid">
		<div th:fragment="footer">
			<footer class="footer bg-dark text-white p-0">
				<script type="application/javascript"
					src="https://code.jquery.com/jquery-3.4.1.min.js"
					integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
					crossorigin="anonymous"></script>
				<script
					src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
					integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
					crossorigin="anonymous"></script>
				<script type="application/javascript"
					src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
				<div class="container">
					<span class="text-center">Spring Boot Rocks | <a href="#">Copyright
							Notice</a> | <a href="#">Contact us</a> | <a href="#">Know more
							about us</a></span>
				</div>
			</footer>
		</div>

	</div>
</body>
</html>