<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf + Spring Security</title>
<div th:replace="fragments/header :: header" />
</head>
<body>
	<div class="container">
		<div class="card-header bg-primary text-white py-0"
			style="text-align: center">
			<h6>
				<b>Create New User</b>
			</h6>
		</div>
		<hr />
		<form action="#" th:action="@{/save2}" th:object="${appuser}"
			method="post">

			<div class="row">
				<label class="col-md-3 text-right" for="agencyheadname">Username:
				</label>
				<div class="col-md-7 pull-left">
					<input class="form-control" type="text" th:field="*{username}" />
				</div>
			</div>
			<div class="row">
				<label class="col-md-3 text-right" for="password">Password:
				</label>
				<div class="col-md-7 pull-left">
					<input class="form-control" type="text" th:field="*{password}" />
				</div>
			</div>
			<div class="row">
				<label class="col-md-3 text-right" for="useremail">Email: </label>
				<div class="col-md-7 pull-left">
					<input class="form-control" type="text" th:field="*{useremail}" />
				</div>
			</div>
			<div class="row">
				<label class="col-md-3 text-right" for="userfirstname">First
					name: </label>
				<div class="col-md-7 pull-left">
					<input class="form-control" type="text" th:field="*{userfirstname}" />
				</div>
			</div>
			<div class="row">
				<label class="col-md-3 text-right" for="userlastname">Last
					name: </label>
				<div class="col-md-7 pull-left">
					<input class="form-control" type="text" th:field="*{userlastname}" />
				</div>
			</div>
			<div class="row">
				<label class="col-md-3 text-right" for="useraddress">Address:
				</label>
				<div class="col-md-7 pull-left">
					<input class="form-control" type="text" th:field="*{useraddress}" />
				</div>
			</div>
			<div class="col-md-4">
				<button class="btn btn-sm btn-danger btn-space float-right"
					type="submit">
					<span class="fa fa-check"></span> Submit
				</button>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>

</html>

